.card{
    box-shadow:0px 0px 1px rgba(0,0,0)
}
.price{
    box-shadow:0px 0px 3px rgba(0,0,0)
}

.service-ul li{
    width: 184px;
}

.card-content{
    // height: 452px;
}

.hero-service{
    background-image: url('./assets/top-view-desk-concept-with-notepad.jpg');
    width: 100%;
    height: 100%;
    background-size: 100%;
}

.service-tab button{
    border-radius: 5px 5px 0 0 ;

}

.service-social{
    img{
        height: 64px;
        width: 64px;
        // mix-blend-mode: color-burn;
        padding: 10px;
    }
    div{
        cursor: pointer;
    }
}